@import "../../styles/variables";

.editInput {
  width: 420px;
  margin: 0 0 7px 17px;
  color: var(--contrastColor);
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  background-color: var(--backColor);
  border: none;
  outline: 0;
  outline-offset: 0;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
